@{
    ViewBag.Title = "Home Page";
}

<div>
    Home/Index
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Person/GetPersonId",
            success: function (res) {
                if (res) {
                    alert("Id= " + res.Id +", Code= " + res.Code );
                }
            }
        });
    });
</script>
