@{
    ViewBag.Title = "Home Page";
}

<div>
    Home/Index
</div>
<div id="content">

</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Person/GetPerson",
            success: function (response) {
                success(response);
            }
        });
    });

    function success(data) {
        var contentDiv = $("#content");
        contentDiv.append(" Id= " + data.Id);
        contentDiv.append(" Name= " + data.Name);
    }

</script>
